node_red_sample_flow.json
[{"id":"c80e9d1.c09fd6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d85ad7a4.7a65e8","type":"mqtt in","z":"c80e9d1.c09fd6","name":"alezi tabs temp sensor","topic":"alezzi-b21-air/devices/tabs-temp/up","qos":"1","datatype":"auto","broker":"db8f26d.f5035d8","x":330,"y":280,"wires":[["c06e1a00.a72648"]]},{"id":"1f43eb4b.a2e255","type":"debug","z":"c80e9d1.c09fd6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":280,"wires":[]},{"id":"c06e1a00.a72648","type":"function","z":"c80e9d1.c09fd6","name":"","func":"var parsed = JSON.parse(msg.payload);\nreturn parsed;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["1f43eb4b.a2e255","d9007777.8b2e98","35fabfc.64a184","8cbe6d.50eea19"]]},{"id":"d9007777.8b2e98","type":"ui_gauge","z":"c80e9d1.c09fd6","name":"temp","group":"e4a2998e.a27408","order":0,"width":0,"height":0,"gtype":"compass","title":"Temperature (degrees)","label":"degrees","format":"{{payload_fields.temp_celsius}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":200,"wires":[]},{"id":"35fabfc.64a184","type":"ui_gauge","z":"c80e9d1.c09fd6","name":"humidity_percent","group":"e4a2998e.a27408","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity (%)","label":"%","format":"{{payload_fields.humidity_percent}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":340,"wires":[]},{"id":"8cbe6d.50eea19","type":"ui_gauge","z":"c80e9d1.c09fd6","name":"battery_percent","group":"e4a2998e.a27408","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery (%)","label":"%","format":"{{payload_fields.batt_percent}}","min":0,"max":"100","colors":["#d60000","#e6e600","#00a300"],"seg1":"30","seg2":"60","x":1020,"y":400,"wires":[]},{"id":"db8f26d.f5035d8","type":"mqtt-broker","z":"","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e4a2998e.a27408","type":"ui_group","z":"","name":"Default","tab":"77a5ba17.20bb64","order":1,"disp":true,"width":"6","collapse":false},{"id":"77a5ba17.20bb64","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]